body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

font-family:Arial;

background:linear-gradient(135deg,#111827,#2563eb);

color:white;

}


.login-box,.dashboard{

background:rgba(255,255,255,.1);

padding:40px;

border-radius:20px;

backdrop-filter:blur(15px);

text-align:center;

}


input{

display:block;

margin:15px;

padding:12px;

width:250px;

border-radius:10px;

border:none;

}


button{

padding:12px 40px;

border:none;

border-radius:10px;

background:#38bdf8;

cursor:pointer;

}


.card{

background:rgba(255,255,255,.1);

padding:20px;

margin:15px;

border-radius:15px;

}